aiohttp==3.1.0
arrow==0.12.1
async-timeout==2.0.1
attrs==17.4.0
chardet==3.0.4
coverage==4.5.1
hypothesis==3.50.2
idna==2.6
idna-ssl==1.0.1
more-itertools==4.1.0
multidict==4.1.0
pluggy==0.6.0
py==1.5.3
pytest==3.5.0
pytest-aiohttp==0.3.0
python-dateutil==2.7.0
six==1.11.0
uvloop==0.9.1
yarl==1.1.1
